 <div>
  <label>投稿画像</label>
  <%= attachment_image_tag @post, :image, format: 'jpeg', fallback: "no_image.jpg", size: "160x160" %>
 </div>
 <div>
  <label>投稿内容</label>
  <%= @post.body%>
 </div>
 <div>
  <label>ジャンル</label>
  <%= @post.genre.name%>
 </div>
  <%= link_to edit_public_post_path(@post.id) do%>
   <p>編集する</p>
  <% end%>