// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top_image{
 padding: 50px;
 width: 100%;
 display: flex;
 justify-content: center;
 background-image: url(images/top_image.jpg);
 background-size: auto;
}

.top_title{
 width: 100%;
 display: flex;
 justify-content: center;
}