// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment ,.comment_index{
 display: flex;
 padding: 15px;
 margin: 20px;
 background: #fff;
 border-radius: 10px;
 border: outset 2px;
 box-shadow: 2px 4px 8px;
 justify-content: space-around;
}

.comment_form{
 width: 400px;
 height: 60px;
}

.comment_action{
 display: flex;
 justify-content: flex-end;
}

.comment_action .form_btn{
 margin: 0;
}

.comment_index{
 padding: 20px;
 flex-direction: column
}

.comment_index .account_name {
 font-size: 20px;
}

.comment_index .account_date {
 padding: 0 0 5px 0;
}

.post_form_image {
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-family: kaisotai;
 padding: 10px;
 margin: 10px;
 font-size: 20px;
}

.post_form_body {
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-family: kaisotai;
 padding: 10px;
 margin: 10px;
 font-size: 20px;
}

.post_body_form {
 width : 250px;
 height: 50px;
}

.post_name_form{
 width : 250px;
}

.post_form_btn{
 margin: 20px auto;
 display: flex;
 justify-content: space-around;
}

.post_delete {
 display: flex;
 justify-content: space-around;
}

.post_delete .post_show,.post_delete .post_show_titles {
 width: 50px;
 margin: 0;
}