<main class="posts">
  <div class="posts_container">
    <%= render "public/end_users/current_end_user_menu" %>
    <div class="posts_main">
      <div class="about_page">


      </div>
    </div>
  </div>
</main>
