<main class="posts">
  <div class="posts_container">
    <%= render "public/end_users/current_end_user_menu" %>
    <div class="posts_main">
      <div class="about_page">
        <%= image_tag "about_title.png", size: "396x198" ,class:"about_title_image"%>
       <p class="about_page_title">
         BAKUSHOW!!とは
       </p>
       <p class="about_page_body">
         大喜利機能や、面白い！と思った事を投稿できる</br>
         お笑い参加型SNSサイトです。
       </p>
       <p class="about_page_title">
         BAKUSHOW!!機能紹介
       </p>
       <p class="about_page_body">
          ◆大喜利機能</br>
          自由にお題を投稿ボケる事ができます。投稿されたお題やボケはユーザー内で評価・拡散されます。</br>
          </br>
          ◆SNS機能</br>
          面白い投稿や、大喜利をしている人をフォローすることで、タイムラインにはフォローしたユーザーの大喜利や投稿、評価が流れます。</br>
        </p>
        <p class="about_page_title">
         基本編  - 投稿を見て爆笑する！
        </p>
         <p class="about_page_body">
          ◆いろいろある投稿を見る方法</br>
          上部メニューバーから様々な投稿と大喜利を見る事ができます。</br>
          </br>
          ・ホーム</br>
          自分とフォローしたユーザーの投稿と大喜利を見れます。</br>
          </br>
          ・新着</br>
          すべての新着の投稿と大喜利を見れます。</br>
          </br>
          ・評価</br>
          フォローしたユーザーが評価した投稿と大喜利を見れます。</br>
          </br>
          ・人気</br>
          評価数が多い投稿と大喜利を見れます。</br>
          </br>
          ・検索</br>
          ジャンルやキーワードで投稿と大喜利を検索することができます。</br>
          </br>
          ◆評価をする方法</br>
          「面白い！」と思ったら5段階で評価できます。</br>
          評価は自分のフォロワーにも拡散されます。</br>
          </br>
          ★まずは新着と人気メニューから、面白い投稿や</br>
          大喜利をしているユーザーをフォロー・評価してみましょう！</br>
        </p>
        <p class="about_page_title">
         入門編- 面白い投稿や大喜利をしてみよう！
        </p>
        <p class="about_page_body">
          ◆大喜利でボケてみる</br>
          メニューの「大喜利をする」をクリック。</br>
          お題を選んでボケてみましょう。</br>
          投稿できる文字数は60文字までです。</br>
          </br>
          ◆お題を投稿する</br>
          ボケるためのお題も投稿できます。</br>
          著作権・肖像権の侵害に当たる写真、暴力的・卑猥な
          写真の投稿は禁止しています。</br>
          </br>
          ◆面白いことを投稿する</br>
          メニューの「面白投稿をする」をクリック。</br>
          写真に一言ボケる等、自由に投稿してみましょう。</br>
          投稿できる文字数は60文字までです。</br>
          </br>
          ★あなたの大喜利や投稿は評価・拡散されます。</br>
          自分の面白いを広げてみましょう！
        </p>
        <p class="about_page_title">
         応用編-もっとBAKUSHOW!!を楽しんでみよう！
        </p>
        <p class="about_page_body">
          ◆評価ポイント</br>
          自分の大喜利と投稿についた評価は集計されて</br>
          ユーザー詳細ページに表示されます。</br>
          </br>
          ◆ランキング</br>
          沢山評価されたユーザーはランキングに名前が載ります！
          沢山あつめて友達に自慢しよう！</br>
          </br>
          ★目指せBAKUSHOW!!王!
        </p>
      </div>
      <a class="scroll"></a>
    </div>
   <%= render "public/end_users/right_menu", {ranking_users: @ranking_users ,random: @random,review: @review} %>
  </div>
</main>
