<main class="posts">
 <div class="posts_container">
  <div class="posts_main">
    <h3>投稿一覧</h3>
      <table>
       <thead>
        <tr>
         <th>ID</th>
         <th>内容</th>
         <th>画像</th>
        </tr>
       </thead>
       <div class="scroll-list jscroll">
       <tbody>
        <% @posts.each do |post| %>
        <tr>
         <td><%= post.id %></td>
         <td>
          <%= link_to edit_admin_post_path(post.id) do%>
           <%= post.body %>
          <% end %>
         </td>
         <td><%= attachment_image_tag post, :image ,class: "user_image", fallback: "no_image_post.png", size: "30x30"%></td>
        </tr>
       <% end %>
      </tbody>
     </table>
    </div>
  </div>
 </div>
</main>