/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style sracope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  word-wrap: break-word
}

@font-face {
  font-family: "kaisotai";
  src: font-url("Kaisotai_Next_UP_B.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }
.wf-hannari { font-family: "Hannari"; }

body {
 height: 100%;
 background-color: #fffaf0;
 padding-top: 90px;
}

header{
background: #000000;
position: fixed;
width: 100%;
z-index: 10;
box-sizing: border-box;
top: 0;
left: 0;
}

footer {
width: 100%;
text-align: center;
background: #000000;
position: absolute;
bottom: 0;

}

header .container,footer .container {
 max-width: 1200px;
 margin: 0 auto;
 height: 100%;
 box-sizing: border-box;
 padding-top: 9px;
 display: flex;
 justify-content: space-between;
 flex-wrap: nowrap;
 font-family: kaisotai;
}

footer .container{
 width: 1200px;
 padding-top: 0;
 padding-bottom: 20px;
}


.btns, .gest-btns {
 margin-top: 15px;
 padding: 10px;
 background-color: #000000;
 font-family: kaisotai;
 display: block;
 border-radius: 5px;
 text-decoration: none;
 transition: all 0.3s;
 color: #ffff00;
}

.gest-login{
 margin-right: auto;
 margin-left: auto;
 margin-bottom: 20px;
 font-size: 30px;
}

.btns:hover, .gest-btns:hover {
 background: #FDF93A;
 color: #000000;
}

header nav {
 position: absolute;
 top: 35px;
 left: 40%;
}

header nav ul {
width: 500px;
background: #ffff00;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
display: flex;
justify-content: center;
flex-wrap: nowrap;
}

header nav ul li{
width: 25%;
}

.nav-btns {
 text-align: center;
 display: block;
 padding: 10px;
 transition: all 0.3s;
 color: #000000;
 box-sizing: border-box;
 border-bottom: solid 5px #000000;
 font-size: 20px;
}

.nav-btns:hover {
  background: #000000;
  color: #ffff00;
}

.login{
 width: 100%;
}

.form_container {
 padding: 120px 0;
 background: #fffaf0;
 height: auto;
 width: 100%;
 display: flex;
 justify-content: center;
}

.form_grop{
 background: #FFF;
 padding: 30px 25px;
 border: outset 8px #FFF;
 border-radius: 10px;
 display: block;
 width: 450px;
 box-sizing: border-box;
 box-shadow: 6px 6px 6px;
}

.form_grop h2 {
 text-align: center;
 padding-bottom: 10px;
 margin-bottom: 10px;
 border-bottom: solid 2px #353435;
 font-family: kaisotai;
 font-size: 30px;
}


.form {
	width: 100%;
 height: 30px;
 padding: 3px;
 margin: 10px 0;
	font-family: kaisotai;
	font-size: 20px;
}

.actions {
  text-align: center;
}

.form_btn {
 margin: 20px 20px;
 padding: 10px 20px;
 display: inline-block;
 background-color: #FFF;
 box-shadow: 0 6px 6px;
 font-size: 114%;
 line-height: 1;
 position: relative;
 cursor: pointer;
 border-radius: 2px;
 top: 0;
 transition: .2s all;
 font-family: kaisotai;
}
.form_btn:hover,.edit_form_btn:hover {
 border-radius: 2px;
 box-shadow: 2px 2px 6px;
 top: 0;
 transition: .2s all;
 opacity: .8;
}
.form_btn:active,.edit_form_btn:active {
 border: none;
 box-shadow: 0 0px;
 top: 5px;
}

.actions span {
 font-family: kaisotai;
 font-weight: bold;
 font-size: 20px;
}

.pagination {
 display: none;
}

